      <div class="form-group col-xs-4">
        <label for="">Search</label>
        <input type="search" name="search" value="" ng-model="filterBy.search" class="form-control" />
      </div>
      <div class="form-group col-xs-4">
        <label for="">Category</label>
        <select
          class="form-control"
          name="category"
          ng-model="filterBy.category"
          ng-options="c.name for c in categories"></select>
      </div>
      <div class="form-group col-xs-4">
        <label for="">Rank</label>
        <select
          class="form-control"
          name="rank"
          ng-model="filterBy.rank"
          ng-options="r.name for r in ranks"></select>
      </div>
